* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

html,
body {
    overflow-x: hidden;
    background-color: #1a1a1a;
}


/*navbar empieza*/
.navbar {
    display: flex;
    background: rgb(0, 0, 0);
    width: 100vw;
    height: 65px;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid rgb(185, 42, 185) 1px;
    gap: 5%;
}

.logo {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.contenedor_menu {
    display: flex;
    gap: 15px;
}

.contenedor_registro {
    display: flex;
    gap: 10px;
}

.enlace {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/*navbar Termina*/

/*---*/

.contenedor {
    background-color: #1a1a1a;
    display: flex;
    width: 100vw;
    height: max-content;
    padding: 20px;
    justify-content: center;
}


.contenedor1 {
    background-color: #2a2a2a;
    display: flex;
    width: 1300px;
    height: max-content;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    justify-content: center;
}


.estadistica {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    border-right: 2px solid #555555;
    border-radius: 5px 0px 0px 5px;
    padding: 10px;

}

h1 {
    color: #ffcc00;
    text-align: center;
    margin-bottom: 30px;
    font-size: 40px;
    letter-spacing: 1.5px;
}

h2 {
    color: #ffcc00;
    border-bottom: 2px solid #555555;
    padding-bottom: 10px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 28px;
}

.imgperfil {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 5px;
}


.stat {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor2 {
    display: flex;
    background-color: #444444;
    padding: 10px;
    border-radius: 3px;
    gap: 5px;
    flex: 1;
}

.texto1 {
    width: 170px;
    color: #ffcc00;
}

.texto2 {
    width: 100px;
    color: white;
    padding-left: 10px;
}


.barrafondo {
    background-color: #555555;
    height: 20px;
    width: 400px;
    border-radius: 5px;
}

.barracolor {
    background-color: #ffcc00;
    width: 85%;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
}

.barracolor1 {
    background-color: #ffcc00;
    width: 70%;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
}

.barracolor2 {
    background-color: #ffcc00;
    width: 55%;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
}

.barracolor3 {
    background-color: #ffcc00;
    width: 90%;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
}

.barracolor4 {
    background-color: #ffcc00;
    width: 75%;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
}


.barracolor5 {
    background-color: #ffcc00;
    width: 80%;
    height: 20px;
    border-radius: 5px 0px 0px 5px;
}






.historia {
    border-radius: 0px 5px 5px 0px;
    padding: 10px;
    flex: 1;

}


.texto3 {

    color: white;
    line-height: 1.5;

}