* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*navbar empieza*/
.navbar {
    display: flex;
    background: rgba(0, 0, 0, 0.705);
    width: 100vw;
    height: 65px;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid rgb(185, 42, 185) 1px;
    position: fixed;
    gap: 5%;
    font-family: "Orbitron", sans-serif;
}

.logo {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.contenedor_menu {
    display: flex;
    gap: 15px;
}

.contenedor_registro {
    display: flex;
    gap: 10px;
}

.enlace {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/*contacto*/
body {
    background-color: black;
    color: white;
    font-family: "Orbitron", sans-serif;
}

.contenedor_contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    
    
}

.titulo_contacto {
    font-size: 45px;
    margin-bottom: 20px;
    color: yellow;
    text-shadow: 0 0 10px red;
    font-family: "Bitcount Grid Single", sans-serif;
    text-align: center;
}

.subtitulo_contacto {
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
    text-align: center;
    max-width: 600px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}

.formulario input {
    padding: 12px;
    background-color: black;
    border: 2px solid yellow;
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.3);
}

.formulario input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.boton_enviar {
    padding: 12px;
    background-color: yellow;
    color: black;
    border: 2px solid white;
    font-family: "Orbitron", sans-serif;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.boton_enviar:hover {
    background-color: red;
    color: white;
    box-shadow: 0 0 10px red;
}

.resultado {
    margin-top: 30px;
    font-family: "Bitcount Grid Single", sans-serif;
    color: white;
}

.error-list {
  color: red;
  font-family: "Orbitron", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  padding-left: 20px;
  list-style-type: square;
  text-shadow: 0 0 5px red;
}

.datos-enviados {
  margin-top: 30px;
  padding: 20px;
  border: 2px solid lime;
  background-color: rgba(0, 255, 0, 0.1);
  font-family: "Bitcount Grid Single", sans-serif;
  color: white;
  box-shadow: 0 0 10px lime;
}

.datos-enviados h3 {
  color: lime;
  text-shadow: 0 0 5px lime;
  margin-bottom: 10px;
}

body {
  background-image: url('../img/contacto/fondocontacto.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/*hola*/